@font-face {
    font-family: "Gotham-Black";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Bold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Book";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Medium";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Thin";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Thin.woff") format("woff"), url("../fonts/Gotham-Thin.ttf") format("truetype"), url("../fonts/Gotham-Thin.svg") format("svg");
}
@font-face {
    font-family: "Gotham-Ultra";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Gotham-Ultra.woff") format("woff"), url("../fonts/Gotham-Ultra.ttf") format("truetype"), url("../fonts/Gotham-Ultra.svg") format("svg");
}
@font-face {
    font-family: "PlayfairDisplaySC-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/PlayfairDisplaySC-Regular.woff") format("woff"), url("../fonts/PlayfairDisplaySC-Regular.ttf") format("truetype"), url("../fonts/PlayfairDisplaySC-Regular.svg") format("svg");
}

/* Biryani and halim quiz */
.hp .desc {
    color: #fff;
    left: 50%;
    margin: 0 0 0 -91px;
    position: absolute;
    text-align: center;
    top: 106px;
    z-index: 99;
    height: 77%;
}
.hp h1 {
    font-size: 100px;
    font-size: 10rem;
    line-height: 1.3em;
    text-transform: uppercase
}
.hp h2 {
    font-weight: 400;
    text-transform: uppercase
}
.hp .item {
   float: left;
    height: 579px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 50%;
    min-height: 410px;
    z-index: 1;
}
.hp .item-left {
    left: 0;
    background: rgba(0, 0, 0, 0) url("../img/biryani-bg1.jpg") repeat scroll 0 bottom;
    background-size: 100% auto;
}
.hp .item-left .desc {
    margin: 0 -160px 0 0;
    right: 0;
    text-align: center;
    top: 136px;
    z-index: 1;
}
.hp .item-right {
    right: 0;
    background: rgba(0, 0, 0, 0) url("../img/haleem-image.png") repeat scroll 0 bottom;
    background-size: 100% auto;
}
.hp .item-right .desc {
    margin: 0 -160px 0;
    left: 0;
    text-align: center;
    top: 136px;
    z-index: 1;
}

.hp .overlay {
    background: #151718 none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=0.5)
}
.hp .scroll-down {
    border: 1px solid;
    bottom: 23px;
    color: #fff;
    font-size: 35px;
    height: 33px;
    left: 50%;
    line-height: 0;
    margin: 0 0 0 -17px;
    outline: medium none;
    padding: 0 5px;
    position: absolute;
    width: 33px;
    z-index: 100;
}
.hp-placeholder {
    width: 100%;
    height: 100%
}
.hp .presents, .hp .contestlogo, .hp .wh_logo {
    margin-top: 24px;
}
.quiz_data .head {
    font-family: Rosario;
    font-style: italic;
    font-size: 18px;
    margin-top: 31px;
    color:#b79a52;
    font-weight: bold;
}
.quiz_data .content {
    font-family: Rosario;
    font-style: italic;
    font-size: 16px;
    color:#b79a52;
}
.winnerspage .content {
    font-size: 22px;
    font-weight: 400;
    margin-top: 53px;
}
.winnerspage .detail.content > p {
    line-height: 29px;
}
.work-content.contest.winner.contentarea > p {
    font-family: Rosario;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    padding: 34px 0;
}
.hp .overlay:hover{
    opacity:0;
}
.dnone{
    display: none;
}
.quiz_data .contentarea p {color:#b79a52}
.tabbed_group > div {
    border: 1px solid #b79a52;
    color: #b79a52;
    cursor: pointer;
    float: left;
    font-family: Rosario;
    font-size: 17px;
    font-style: italic;
    margin-top: 21px;
    padding: 17px 38px;
}
.tabbed_group {
    height: 85px;
    left: 47%;
    margin: 9px 0 60px -217px;
    position: relative;
}
.biryani_nomination{
    border-radius: 8px 0px 0px 8px;
}
.biryani_nomination.active {
    background: #b79a52 none repeat scroll 0 0;
    color: #fff;
}
.Haleem_nomination{
    border-radius: 0 8px 8px 0px;
}
.Haleem_nomination.active {
    background: #b79a52 none repeat scroll 0 0;
    color: #fff;
}
.voted, .voted:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #b79a52;
    border-radius: 0;
    color: #b79a52;
    font-size: 20px;
    margin: 17px 0 0;
    padding: 10px;
    width: 100%;
}
.voted.votedone {
    background: #48be2c none repeat scroll 0 0;
    border: 1px solid #48be2c;
    color: #fff;
}

.thanks_msg {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    bottom: 100%;
    color: #fff;
    font-family: Rosario;
    font-size: 18px;
    height: 100%;
    left: 0;
    opacity: 1;
    padding-top: 46%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 2;
}


img.grayscale{
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
}

.past_result .contentarea p, .past_result .contentarea strong, .past_result .contentarea a{
    color: #686868;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 0;
}
.past_result .contentarea strong{
    margin-top: 0;
}
.past_result .contentarea a{
    color: #b79a52;
}
.past_results > p {
    margin: 2px 0 10px 4px !important;
}
.content p {
    padding: 0 54px;
}
.contest .feed-short-desc{
    font-size: 14px;line-height: 18px;
}

.contest .feed-title{
    font-size: 22px;   
}
.past_result .content p, .past_result .content strong, .past_result .content a{
    font-size: 14px;
    color: #969eab;
    font-size: 16px;
    padding: 27px 53px 0 0;
}
.past_result .content a{
    color: #b79a52;
}
.hp-mobile{
    display: none;
}
.hp-mobile{
    width: 100%;
}
.hp-mobile .desc{
    width: 100%;
}
.hp-mobile .item{
    width: 100%;
}
.hp-mobile .presents, .hp-mobile .contestlogo, .hp-mobile .wh_logo {
    margin-top: 24px;
}
.hp-mobile .item-left .desc{
    left:0;
}
.hp-mobile .item-left .desc{
    margin: 0;
    top: 50px;
}
.hp-mobile .scroll-down{
    bottom: 20px;
}
.hp-mobile .item-left{
    background-image: url("../img/haleem-responsive.jpg"); background-size: 100% 100%;
}
.winners {
    background: #D31A6B none repeat scroll 0 0;
    color: #fff;
    margin: -30px 13px 0px;
    text-align: center;
    padding: 20px 10px;
    font-size: 22px;
}
.triangle{
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 30px solid #D31A6B;
    height: 0;
    width: 0;
    margin: 0 auto 30px;
}
.winner p {
    padding: 20px 0;
}
.contest .feed-title{
    min-height: 47px;
}
.contest .feed-short-desc{
    height: 55px;
}

.contestimg > img {
    width: 50px;
}
.headercontest {
    margin: 17px 0;
}

.contesttext:after
{
    border-color: transparent #fff;
    border-style: solid;
    border-width: 7px 11px 7px 0;
    content: "";
    display: block;
    left: -10px;
    position: absolute;
    top: 6px;
    width: 0;
    z-index: 1;
}

.makeheaderintera .contesttext:after{
    border-color: transparent #d11a6d;
}

.contesttext:before{
    border-color: transparent #d11a6d;
    border-style: solid;
    border-width: 8px 11px 8px 0;
    content: "";
    display: block;
    left: -12px;
    position: absolute;
    top: 5px;
    z-index: 0
}
.makeheaderintera .contesttext:before{
    border-color: transparent #fff;
}

.contesttext{
    border: 1px solid #d11a6d;
    color: #d11a6d;
    padding: 3px;
    margin-top: 8px;
    position: relative;
    margin-left: 10px;
}
.makeheaderintera .contesttext{
    color:#fff;
    border: 1px solid #fff;
}
.contestimg {
    padding: 0 5px;
}
.topbiryanistrip {
    background: #f6f6f6 none repeat scroll 0 0;
}
.contestdata > a > div{
    display: table-cell;
    color: #b79a52;
    font-family: Rosario;
    font-style: italic;
}
.past_result {
    padding: 35px 20px;
}
.show_past {
    margin-top: -4px;
}
.show_past > a {
    padding: 0 !important;
}
.past_results{
    margin-top: 20px;
}
.past_results p, .past_results strong, .past_results a{
    padding: 0 !important;margin: 0 !important;
}
.haleemoverlay {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    padding-left: 50%;
    padding-top: 20%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.freedomlogo{
padding-top: 27px; color: rgb(150, 158, 171); font-style: normal; text-align: left; font-size: 16px; line-height: 18px;
}


/* TFA */
.hp .mainback{
    background: rgba(0, 0, 0, 0) url("../img/tfa/food-image.jpg") repeat scroll 0 bottom;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-size: cover;
}
.sponsor {
    padding: 20px 0;
}

.tfa  .hp .contestlogo{
    margin-top: 31px;
}
.tfa .hp .presents{
    margin-top: 17px;
}
.tfa  .hp .wh_logo{
    margin-top: 10px;   
}
.tfa  .hp .wh_logo > img {
    width: 80px;
}
.tfa .coming_text {
    font-size: 43px;
    margin-top: 24px;
    margin-bottom: 43px;
}
.sponsor > img, .timeline > img {
    max-width: 100%;
    padding: 0 15px;
}
.tfa .desc {
    margin: 0;
    top:0;
    left:0;
    position: relative;
}
.tfa .row .contestlogo:first-child {
    margin-right: 20px;
}
.tfa .bordered {
    border: 5px solid #76643f;
}
.tfa .sponsor{
    padding: 20px 0;
}
.tfa .emailer{
    background: #232220;
    padding: 30px;
}
.tfa .timeline {
    padding: 20px 0;
    background: #f9f9f9 none repeat scroll 0 0;
}
.award-block{
    background: rgba(0, 0, 0, 0) url("../img/tfa/bk.png") repeat scroll 0 bottom;
    padding: 120px 50px 160px;
}
.texting, .shareer {
    background: #fff none repeat scroll 0 0;
    padding: 47px;
}
.awardimg {
    background: #fff none repeat scroll 0 0;
    margin-left: 138px;
    padding: 46px;
    text-align: center;
}
.award_head {
    font: 32px PlayfairDisplaySC-Regular;
    margin-bottom: 34px;
}
.award_text {
    font: 300 14px/23px Gotham-Light;
    margin-top: 29px;
}
.winnerforawrds{
    background: #232220;
    padding: 30px;
    color: #fff;
}
.winnerslist{
    background: #efeeed;
    padding: 30px 0;
}
.tfa .footerstyle{
    color: #000;
}
.tfa .footerlist .list {
    margin: 0;
    padding: 0 0 20px;
}
.tfa .footerlist .list > li {
    width: 100%;
}
.tfa .list{
    margin-bottom: 0;
}
.tfa .list.logos > li:first-child{
    margin-right: 40px;
}
.tfa .list.logos > li{
    margin-bottom: 20px;   
}
.tfa .presents {
    font: 12px Gotham-Thin;
}
.tfa .wh_logo {
    margin-top: 13px;
}
.tfa .wh_logo > img {
    width: 85px;
}
.tfa .coming_text {
    font: 44px Gotham-Bold;
    margin-bottom: 43px;
    margin-top: 24px;
}
.texting {
    margin-left: 68px;
}
/* TFA */
