/**
=================================
LARGE DESKTOP > 1200px
=================================
**/
@media (min-width: 1200px) {
	.contentarea {
		padding: 0 148px;
	}
	.contentarea .detail {
		padding: 0 147px;
	}
	
}


/**
=================================
COMMON DESKTOP > 992px
=================================
**/
@media (min-width: 992px) {
	/* .work-content > div:first-child{ margin-left: -12px; } */
	.contentarea {
		padding: 0 148px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.authordetailsection {
		padding: 14px 62px 65px 62px;
	}
	.width100 {
		width: 82% !important;
	}
}





/**
=================================
STANDARD DESKTOP 992px <> 1200px
=================================
**/
@media (min-width: 992px) and (max-width: 1199px) {
	.extrapaddright{padding:0;}
	.list-inline > li:last-child{
		padding-left: 81px;
	}
	.work-item.withmask {
		height: 363px;
	}
}





/**
=================================
STANDARD DESKTOP < 1024px
=================================
**/
@media (max-width: 1023px) {
	
	/**
	-------------------------------------------
	BACK TO TOP
	-------------------------------------------
	**/
	#back-top{
		right: 0px;
		bottom: 0px;
		border-radius: 0;
	}
	.owl-carousel.work-detail .item{
		height:300px;
	}
	.rating {
		left: 42%;
	}
	.notfound {
		padding: 0px;
	}
}





/**
=================================
SMALL DESKTOP 768px <> 991px
=================================
**/
@media (min-width: 768px) and (max-width: 991px) {
	.section h1, .yfeeds, .heading, .top-navbar{
		padding:0 15px;
	}
	
	ul.work-category-wrap{
		padding:0 15px;
	}
	.contentarea {
		padding: 0 50px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.page-title-wrap .breadcrumb {
		margin: 0 0 -14px;
		padding: 21px 15px;
	}
	.tt-dropdown-menu{
		width:116%;
	}
	.app_option{
		margin:40px 0;
	}
	.share .list-inline > li:last-child, .sharesmall .list-inline > li:last-child{
		padding-left: 10px;
	}
	.list-inline > li:last-child{
		padding-left: 81px;
	}
	.work-item.withmask {
		height: 376px;
	}
	.width100 {
	    padding: 0 !important;
	    width: 76% !important;
	}
}


/**
=================================
SMALL DESKTOP 480px <> 600px
=================================
**/
@media (min-width: 480px) and (max-width: 600px) {
	.feed-name{font-size:17px}
	.width100 {
	    padding: 0 !important;
	    width: 76% !important;
	}
}



/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 767px) {
	.page-title-wrap .breadcrumb {
		margin: 0 0 -14px;
		padding: 21px 15px;
	}
	ul.work-category-wrap{
		padding:0 15px;
	}
	
	.contentarea {
		padding: 0 10px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.top-navbar .logo {
		padding: 12px 0 12px 12px;
	}
	.section h1, .heading, .yfeeds{
		padding: 0 12px;
	}
	
	.nav-search.navbar-right li.dropdown > a {
		padding: 31px;
	}
	ul.work-category-wrap{
		padding: 2px 10px;
	}
	.owl-carousel.work-detail .item{
		height:200px;
	}
	.share .sharek{
		width: 100%;
	}
	.share{
		padding:0;
	}
	.rating {
		left: 39%;
	}
}




/**
=================================
PHONE < 640px
=================================
**/
@media (max-width: 640px){
	.section h1{
		font-size:20px;
		line-height:28px;
	}
	.eventdetail{
		padding:0 30px;
	}
	.section .contenttitle{
		font-size:30px;
		line-height:35px;
	}
	.feed-list .searchlist p{
		width:100%;
	}
	.tt-dropdown-menu{
		width:117%;
	}
	.navbar-fixed-top{
		position:absolute;
	}
	.rating {
		left: 38%;
	}
}




/**
=================================
PHONE < 600px
=================================
**/
@media (max-width: 600px){
	.tt-dropdown-menu{
		width:118%;
	}
}



/**
=================================
PHONE < 548px
=================================
**/
@media (max-width: 548px){
	.nav-search.navbar-right {
		float: right;
		margin: 0;
		padding: 20px 11px;
	}
}



/**
=================================
PHONE < 480px
=================================
**/
@media (max-width: 480px){
	body{
		width:480px;
	}
	.work-content .col-xs-6{width:100%}
	.allfeeds .col-xs-6{padding:0;}
	.contentarea {
		padding: 0;
	}
	.contentarea .detail {
		padding: 0;
	}
	.extrapaddright{padding-left: 15px;
    padding-right: 15px;}
	
	#getallfeeds {
		padding: 0 20px;
	}
	footer{
		padding:30px 12px 0 12px;
	}
	.setbottom {
		text-align: center;
	}
	.owl-carousel.work-detail .item{
		height:250px;
	}
	.authordetailsection .author-detail {
		width: 60%; min-width: 200px;
	}
	.rating {
		left: 33%;
	}
	.filter_type li{
		margin: 8px 1px;
	}
	.youarehere{
		display:none;
	}
	.nav-search.navbar-right{
		padding: 29px 11px;
	}
	.resize {
		padding: 0 10px;
	}
	.resize.feedtags {
		padding: 0 25px;
	}
	.info-content{
		padding:0 4%;
	}
}

/**
=================================
PHONE < 420px
=================================
**/
@media (max-width: 420px){
	body{
		width:420px;
	}
	.top-navbar .logo{
		
	}
	
	.filter_type{
		padding: 0 18px; margin:10px 0 5px;
	}
	.filter_type li{
		margin: 8px 1px;
	}
	
	footer .row > div {
		border-bottom: 1px solid #c9c9c9;
		margin: 0 0 23px;
		padding: 0 0 9px;
	}
	footer .row > div:last-child {
		border-bottom: none; padding:0; margin:0;
	}
	
	.nav-search.navbar-right li.dropdown > a {
		padding: 20px 4px;
	}
	
	
	.authordetailsection .author-detail {
		width: 50%;
	}
	
	.dropdown-menu.with-triangle{
		margin: 0 0 0 -40px;
	}
	.withmask{
		height: 440px !important;
	}
	.owl-carousel.work-detail .item{
		height:190px;
	}
	.rating {
		left: 33%;
	}
	.width100 {
		width: 64% !important;
	}
	.top-navbar .logo img
	{
		width:100px; height:auto;
	}
	.makeheaderintera .nav-search.navbar-right, .nav-search.navbar-right{
		padding: 21px 11px;
	}
}

/**
=================================
IPHONE 6 PLUS
=================================
**/

@media (width: 736px) {
	.container-fluid .container{
		width: 720px;
	}
	.lineheight{
		margin-top: -22px;
	}
	footer, .footer{
		width: 736px;
	}
	body {
		width: 736px;
	}
}

@media (width: 414px) {
	.container{
		width: 414px;
		float: left;
	}
	.container-fluid .container{
		overflow: hidden;
	}
	.navbar-default{
		height:61px;
	}
	.searchbtn a > div{
		padding: 19px 25px;
	}
	.container-fluid {
	    margin-top: 60px;
	}
	footer, .footer{
		width: 414px;
	}
	body {
		width: 414px;
	}
}

/**
=================================
IPHONE 6
=================================
**/
@media (width: 667px) {
	body {
		width: 667px;
	}
	.container-fluid .container{
		width: 650px;
	}
	footer, .footer{
		width: 667px;
	}
}

@media (width: 375px) {
	body {
		width: 375px;
	}
	.container-fluid {
		float: left;
		width: 375px;
	}
	.container{
		width: 375px;
		float: left;
	}
	.container-fluid .container{
		overflow: hidden;
	}
	.navbar-default{
		height:61px;
	}
	.searchbtn a > div{
		padding: 19px 25px;
	}
	.container-fluid {
	    margin-top: 60px;
	}
	.social-share-widget{
		margin-top: 19px;
	}
	footer, .footer{
		width: 375px;
	}
	footer .container{
	    width: 350px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 2px 25px;
	}
	.makeheaderintera .nav-search.navbar-right li.dropdown > a{
		padding: 31px 20px 21px 10px;
	}
}


/**
=================================
PHONE < 360px
=================================
**/
@media (max-width: 360px){
	body{
		width:360px;
	}
	.feed-name{font-size:20px}
	.withmask{
		height: 320px !important;
	}
	.owl-carousel.work-detail .item{
		height:115px;
	}
	.authordetailsection .author-detail {
		width: 50%; min-width: 160px;
	}
	.rating {
		left: 27%;
	}
	.navbar-default{
		height:auto;
	}

	.top-navbar .logo img
	{
		width:130px; height:auto;
	}
	.makeheaderintera .searchbtn a > div, .searchbtn a > div{
		padding: 19px 25px;
	}
	.container-fluid{
		margin-top: 50px;		
	}
}

/**
=================================
PHONE < 320px
=================================
**/
@media (max-width: 320px){
	body{
		width:320px;
	}
	.dropdown-menu.with-triangle::before, .dropdown-menu.with-triangle::after{
		display:block;
	}
	.nav-search.navbar-right{
		
	}
	.dropdown-menu{
		left: -110px;
	}
	.filter_type li{
		font-size: 12px;
	}
	.dropdown-menu.with-triangle {
		margin: 0 -16px 0 64px;
	}
	.withmask{
		height: 280px !important;
	}
	.searchbtn a  > div{
		padding: 11px 15px;
	}
	.rating {
		left: 23%;
	}
	.width100 {
		width: 64% !important;
	}
	.top-navbar .logo img
	{
		width:100px; height:auto;
	}
	.youarehere{
		display:none;
	}
	.makeheaderintera .searchbtn a > div, .searchbtn a > div{
		padding: 20px 15px;
	}

}