/**
=================================
LARGE DESKTOP > 1200px
=================================
**/
@media (min-width: 1200px) {
	.contentarea {
		padding: 0 148px;
	}
	.contentarea .detail {
		padding: 0 147px;
	}
	.defaultads{
		width: 280px; height: 429px;
	}
	.defaultads > div > div > iframe {
		width: 279px; height: 427px;
	}
	.freedomlogo{
		float: right;
	}
}


/**
=================================
COMMON DESKTOP > 992px
=================================
**/
@media (min-width: 992px) {
	/* .work-content > div:first-child{ margin-left: -12px; } */
	.contentarea {
		padding: 0 148px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.authordetailsection {
		padding: 14px 62px 65px 62px;
	}
	.width100 {
		width: 82% !important;
	}
	.freedomlogo{
		float: right;
	}
}





/**
=================================
STANDARD DESKTOP 992px <> 1200px
=================================
**/
@media (min-width: 992px) and (max-width: 1199px) {
	.extrapaddright{padding:0;}
	.list-inline > li:last-child{
		padding-left: 81px;
	}
	.work-item.withmask {
		height: 363px;
	}
	.rating-container{
		width: 100%;
	}
	.freedomlogo{
		float: right;
	}
}





/**
=================================
STANDARD DESKTOP < 1024px
=================================
**/
@media (max-width: 1023px) {
	
	/**
	-------------------------------------------
	BACK TO TOP
	-------------------------------------------
	**/
	#back-top{
		right: 0px;
		bottom: 0px;
		border-radius: 0;
	}
	.owl-carousel.work-detail .item{
		height:300px;
	}
	.rating {
		left: 42%;
	}
	.notfound {
		padding: 0px;
	}

}





/**
=================================
SMALL DESKTOP 768px <> 991px
=================================
**/
@media (min-width: 768px) and (max-width: 991px) {
	.section h1, .yfeeds, .heading, .top-navbar{
		padding:0 15px;
	}
	
	ul.work-category-wrap{
		padding:0 15px;
	}
	.contentarea {
		padding: 0 50px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.page-title-wrap .breadcrumb {
		margin: 0 0 -14px;
		padding: 21px 15px;
	}
	.tt-dropdown-menu{
		width:116%;
	}
	.app_option{
		margin:40px 0;
	}
	.share .list-inline > li:last-child, .sharesmall .list-inline > li:last-child{
		padding-left: 10px;
	}
	.list-inline > li:last-child{
		padding-left: 81px;
	}
	.work-item.withmask {
		height: 377px;
	}
	.width100 {
	    padding: 0 !important;
	    width: 76% !important;
	}
	.rating-container{
		width: 100%;
	}
	.defaultads{
		width: 232px; height: 380px;
	}
	.defaultads > div > div > iframe {
		width: 230px; height: 378px;
	}
	.navbar-fixed-top{
		position:absolute;
	}
	/* =========== Biryani and haleem ========== */
	.hp .item-left .desc{
		margin: 0px -95px 0 0;
	}
	.hp .item-right .desc{
		margin: 0px 0px 0 -97px;
	}
	.hp .scroll-down{
		bottom: 20px;
	}
	.freedomlogo{
		float: right;
	}
	/* =========== Biryani and haleem ========== */	
}


/**
=================================
SMALL DESKTOP 480px <> 600px
=================================
**/
@media (min-width: 480px) and (max-width: 600px) {
	.feed-name{font-size:17px}
	.width100 {
	    padding: 0 !important;
	    width: 76% !important;
	}
}



/**
=================================
TABLET < 767px
=================================
**/
@media (max-width: 767px) {
	.page-title-wrap .breadcrumb {
		margin: 0 0 -14px;
		padding: 21px 15px;
	}
	ul.work-category-wrap{
		padding:0 15px;
	}
	
	.contentarea {
		padding: 0 10px;
	}
	.contentarea .detail {
		padding: 0 62px;
	}
	.top-navbar .logo {
		padding: 12px 0 12px 12px;
	}
	.section h1, .heading, .yfeeds{
		padding: 0 12px;
	}
	
	.nav-search.navbar-right li.dropdown > a {
		padding: 31px;
	}
	ul.work-category-wrap{
		padding: 2px 10px;
	}
	.owl-carousel.work-detail .item{
		height:200px;
	}
	.share .sharek{
		width: 100%;
	}
	.share{
		padding:0;
	}
	.rating {
		left: 39%;
	}
	.navbar-fixed-top{
		position:absolute;
	}
	.row.work-content {
	    margin: 0;
	}
	#authorpost .row.work-content{
		margin-left: -15px;
    	margin-right: -15px;
	}

	.nav-search.navbar-right li.dropdown > a{
		padding: 25px 10px;
	}
	.makeheaderintera .nav-search.navbar-right li.dropdown > a{
		padding: 31px 10px;
	}
	.searchbtn a > div{
		padding: 24px 25px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 7px 25px;
	}

	.hp{
		display: none;
	}
	.hp-mobile{
		display: block;
	}
	.width100{
		 width: 70% !important;
	}
	.feed-list .searchlist p{
		width: 100%;
	}
	.past_result .content p, .past_result .content strong, .past_result .content a{
		padding: 27px 0 0 0;
	}
	/* =========== Biryani and haleem ========== */
	.desc > div {
		display: table-cell;
	    vertical-align: middle;
	    width: 25%;
	}
	.hp-mobile .item-left .desc{
		top:0px;
	}
	
	.hp .scroll-down{
		bottom: -15px;
	}
	.tabbed_group{
		margin: 9px 0 19px -138px;
	}
	.tabbed_group > div{
		font-size: 12px;
		padding: 7px 11px;
	}
	.content p{
		padding: 0 15px;
	}
	.contesttext{
		display: none;
	}
	/* =========== Biryani and haleem ========== */	
	.freedomlogo{
		float: left;
	}
}




/**
=================================
PHONE < 640px
=================================
**/
@media (max-width: 640px){
	.section h1{
		font-size:20px;
		line-height:28px;
	}
	.eventdetail{
		padding:0 30px;
	}
	.section .contenttitle{
		font-size:30px;
		line-height:35px;
	}
	.feed-list .searchlist p{
		width:100%;
	}
	.tt-dropdown-menu{
		width:117%;
	}
	.rating {
		left: 38%;
	}
	.rating-container{
		width: 100%;
	}
	.width100{
		width: 72% !important;
	}
	.defaultads{
		width: 292px; height: 440px;
	}
	.defaultads > div > div > iframe {
		width: 290px; height: 438px;
	}
	.width100{
		 width: 70% !important;
	}
	.feed-list .searchlist p{
		width: 100%;
	}
	/* =========== Biryani and haleem ========== */
	.desc > div {
		display: table-cell;
	    vertical-align: middle;
	    width: 20%;
	}
	.hp-mobile .item-left .desc{
		top: 50px;
	}

	/* =========== Biryani and haleem ========== */	
}




/**
=================================
PHONE < 600px
=================================
**/
@media (max-width: 600px){
	.tt-dropdown-menu{
		width:118%;
	}
	.width100 {
	    width: 68% !important;
	}
}



/**
=================================
PHONE < 548px
=================================
**/
@media (max-width: 548px){
	.nav-search.navbar-right {
		float: right;
		margin: 0;
		padding: 20px 11px;
	}
	.row.work-content {
	    margin-left: -15px;
    	margin-right: -15px;
	}
	#authorpost .row.work-content{
		margin: 0;
	}
	.width100{
		 width: 66% !important;
	}
	.feed-list .searchlist p{
		width: 100%;
	}
}



/**
=================================
PHONE < 480px
=================================
**/
@media (max-width: 480px){
	body{
		width:480px;
	}
	.work-content .col-xs-6{width:100%}
	.allfeeds .col-xs-6{padding:0;}
	.contentarea {
		padding: 0;
	}
	.contentarea .detail {
		padding: 0;
	}
	.extrapaddright{padding-left: 15px;
    padding-right: 15px;}
	
	#getallfeeds {
		padding: 0 20px;
	}
	footer{
		padding:30px 12px 0 12px;
	}
	.setbottom {
		text-align: center;
	}
	.owl-carousel.work-detail .item{
		height:250px;
	}
	.authordetailsection .author-detail {
		width: 60%; min-width: 200px;
	}
	.rating {
		left: 33%;
	}
	.filter_type li{
		margin: 8px 1px;
	}
	.youarehere{
		display:none;
	}
	.nav-search.navbar-right{
		padding: 29px 11px;
	}
	.resize {
		padding: 0 10px;
	}
	.resize.feedtags {
		padding: 0 25px;
	}
	.info-content{
		padding:0 4%;
	}
	.rating-container{
		width: 100%;
	}
	.width100{
		width: 64% !important;
	}
	.view_overlay{
		position: relative;
		width: auto;
	}
	.removepadd{
		padding-left: 15px;
    	padding-right: 15px;
	}
	.gotoleft{
		display: none;
	}
	.desc > div {
		display: table-cell;
	    vertical-align: middle;
	    width: 20%;
	}
	.hp-mobile .item-left .desc{
		top:25px;
	}
	.defaultads{
		width: 472px; height: 620px;
	}
	.defaultads > div > div > iframe {
		width: 470px; height: 618px;
	}
	.nav-search.navbar-right li.dropdown > a{
		padding: 25px 10px;
	}
	.makeheaderintera .nav-search.navbar-right li.dropdown > a{
		padding: 23px 10px;
	}
	.searchbtn a > div{
		padding: 29px 25px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 7px 25px;
	}
	.nav-search.navbar-right li.dropdown > a{
		padding: 31px 10px;
	}
}

/**
=================================
PHONE < 420px
=================================
**/
@media (max-width: 420px){
	body{
		width:420px;
	}
	.top-navbar .logo{
		
	}
	
	.filter_type{
		padding: 0 18px; margin:10px 0 5px;
	}
	.filter_type li{
		margin: 8px 1px;
	}
	
	footer .row > div {
		border-bottom: 1px solid #c9c9c9;
		margin: 0 0 23px;
		padding: 0 0 9px;
	}
	footer .row > div:last-child {
		border-bottom: none; padding:0; margin:0;
	}
	
	.nav-search.navbar-right li.dropdown > a {
		padding: 27px 4px;
	}
	
	
	.authordetailsection .author-detail {
		width: 50%;
	}
	
	.dropdown-menu.with-triangle{
		margin: 0 0 0 -40px;
	}
	.withmask{
		height: 440px !important;
	}
	.owl-carousel.work-detail .item{
		height:190px;
	}
	.rating {
		left: 33%;
	}
	.width100 {
		width: 64% !important;
	}
	.top-navbar .logo img
	{
		width:100px; height:auto;
	}
	.nav-search.navbar-right{
		padding: 25px 11px;
	}
	.makeheaderintera .nav-search.navbar-right{
		padding: 25px 11px;
	}
	.searchbtn a > div{
		padding: 24px 25px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 24px 25px;
	}
	.desc > div {
		display: block;
	    width: 100%;
	}
	.defaultads{
		width: 412px; height: 394px;
	}
	.defaultads > div > div > iframe {
		width: 410px; height: 392px;
	}
}

/**
=================================
IPHONE 6 PLUS
=================================
**/

@media (width: 736px) {
	.container-fluid .container{
		width: 720px;
	}
	.lineheight{
		margin-top: -22px;
	}
	footer, .footer{
		width: 736px;
	}
	body {
		width: 736px;
	}
	.searchbtn a > div{
		padding: 29px 25px;
	}
	.makeheaderintera .searchbtn a > div {
	    padding: 12px 25px;
	}
	.desc > div {
		display: table-cell;
	    vertical-align: middle;
	    width: 20%;
	}
	.hp-mobile .item-left .desc{
		top:0px;
	}
	.defaultads{
		width: 332px; height: 480px;
	}
	.defaultads > div > div > iframe {
		width: 330px; height: 478px;
	}
	.hp-mobile .item-left .desc{
		top: 100px;
	}
}

@media (width: 414px) {
	.container{
		width: 414px;
		float: left;
	}
	.container-fluid .container{
		overflow: hidden;
	}
	.navbar-default{
		height:61px;
	}
	.nav-search.navbar-right {
	    padding: 21px 11px;
	}
	.searchbtn a > div{
		padding: 19px 25px;
	}
	.nav-search.navbar-right li.dropdown > a {
	    padding: 21px 4px;
	}
	.makeheaderintera .nav-search.navbar-right {
	    padding: 20px 11px;
	}
	.makeheaderintera .searchbtn a > div {
	    padding: 2px 25px;
	}
	.container-fluid {
	    margin-top: 60px;
	}
	footer, .footer{
		width: 414px;
	}
	body {
		width: 414px !important;
	}
	.desc > div {
		display: block;
	    width: 100%;
	}
	.defaultads{
		width: 406px; height: 620px;
	}
	.defaultads > div > div > iframe {
		width: 404px; height: 618px;
	}
	.hp-mobile .item-left .desc{
		top: 10px;
	}
}

/**
=================================
IPHONE 6
=================================
**/
@media (width: 667px) {
	body {
		width: 667px;
	}
	.container-fluid .container{
		width: 650px;
	}
	.nav-search.navbar-right li.dropdown > a {
	    padding: 32px 10px;
	}
		.searchbtn a > div {
	    padding: 29px 25px;
	}
	.makeheaderintera .searchbtn a > div{
	    padding: 12px 25px;
	}
	footer, .footer{
		width: 667px;
	}
	.desc > div {
		display: table-cell;
	    vertical-align: middle;
	    width: 20%;
	}
	.hp-mobile .item-left .desc{
		top:75px;
	}
	.hp .desc{
		height: 50%;
	}
	.defaultads{
		width: 297px; height: 445px;
	}
	.defaultads > div > div > iframe {
		width: 295px; height: 443px;
	}
	.width100{
		 width: 73% !important;
	}
	.feed-list .searchlist p{
		width: 100%;
	}
}

@media (width: 375px) {
	body {
		width: 375px !important;
	}
	.container-fluid {
		float: left;
		width: 375px;
	}
	.container{
		width: 375px;
		float: left;
	}
	.container-fluid .container{
		overflow: hidden;
	}
	.makeheaderintera .nav-search.navbar-right{
		padding: 20px 11px;
	}
	.navbar-default{
		height:61px;
	}
	.searchbtn a > div{
		padding: 19px 25px;
	}
	.container-fluid {
	    margin-top: 60px;
	}
	.social-share-widget{
		margin-top: 19px;
	}
	footer, .footer{
		width: 375px;
	}
	footer .container{
	    width: 350px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 2px 25px;
	}
	.makeheaderintera .nav-search.navbar-right li.dropdown > a{
		padding: 31px 20px 21px 10px;
	}
	
	.desc > div {
		display: block;
	    width: 100%;
	}
	.defaultads{
		width: 367px; height: 560px;
	}
	.defaultads > div > div > iframe {
		width: 365px; height: 558px;
	}
	.hp-mobile .item-left .desc{
		top: 10px;
	}
	.hp .scroll-down {
	    bottom: -68px;
	}
}


/**
=================================
PHONE < 360px
=================================
**/
@media (max-width: 360px){
	body{
		width:360px;
	}
	.feed-name{font-size:20px}
	.withmask{
		height: 320px !important;
	}
	.owl-carousel.work-detail .item{
		height:115px;
	}
	.authordetailsection .author-detail {
		width: 50%; min-width: 160px;
	}
	.rating {
		left: 27%;
	}
	.navbar-default{
		height:auto;
	}

	.top-navbar .logo img
	{
		width:130px; height:auto;
	}
	.searchbtn a > div{
		padding: 24px 25px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 7px 25px;
	}
	.container-fluid{
		margin-top: 70px;
	}

	.desc > div {
		display: block;
	    width: 100%;
	}
	.defaultads{
		width: 352px; height: 500px;
	}
	.defaultads > div > div > iframe {
		width: 350px; height: 498px;
	}
}

/**
=================================
PHONE < 320px
=================================
**/
@media (max-width: 320px){
	body{
		width:320px !important;
		overflow-x:hidden;
	}
	.container-fluid{
		margin-top: 69px;
	}
	.h1{display: none;}
	.dropdown-menu.with-triangle::before, .dropdown-menu.with-triangle::after{
		display:block;
	}
	.nav-search.navbar-right{
		
	}
	.dropdown-menu{
		left: -110px;
	}
	.filter_type li{
		font-size: 12px;
	}
	.dropdown-menu.with-triangle {
		margin: 0 -16px 0 64px;
	}
	.withmask{
		height: 280px !important;
	}
	.searchbtn a  > div{
		padding: 11px 15px;
	}
	.rating {
		left: 23%;
	}
	.width100 {
		width: 64% !important;
	}
	.top-navbar .logo img
	{
		width:100px; height:auto;
	}
	.youarehere{
		display:none;
	}
	.searchbtn a > div{
		padding: 24px 15px;
	}
	.makeheaderintera .searchbtn a > div{
		padding: 3px 15px;
	}
	.critic_review_container .authordetail{
		width: 155px;
	}
	.desc > div {
		display: block;
	    width: 100%;
	}
	.defaultads{
		width: 312px; height: 560px;
	}
	.defaultads > div > div > iframe {
		width: 310px;
		height: 458px;
	}

	.hp .scroll-down{
		bottom: -72px;
	}
	.hp-mobile .item-left .desc{
		top: 0px;
	}
}